body {
  background-color: paleturquoise;
}

h1 {
  text-align: center;
}

#board {
  display: flex;
  justify-content: space-evenly;
  background-color: silver;
  width: 640px;
  height: 480px;
  margin: auto;
}

.col {
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-evenly;
  border: none;
  width: 50px;
  height: 100%;
}

.row {
  background-color: whitesmoke;
  width: 100%;
  height: 50px;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

#statusbox {
  display: flex;
  justify-content: space-between;
  width: 640px;
  margin: auto;
  padding: 16px;
}
